h1{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 2%;
}

.login{
    background-color: rgb(0,255,255, 0.5);
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: x-large;
}

.register{
    background-color: rgb(0,255,255, 0.5);
}

.login h1{
    font-size: xxx-large;
}

.login_table{
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.register_block{
    margin-top: 3%;
    text-align: center;
    padding-bottom: 5%;
}

.login_button{
    margin-top: 4%;
}

.loginpage_button{
    margin-top: 15%;
}

.login_username{
    font-weight: bold;
    margin-right: 10px;
}

.login_password{
    font-weight: bold;
    margin-right: 10px;
}

.header{
    font-weight: bold;
}

.register_form{
    display: flex;
    text-align: center;
    place-content: center;
}

.register_button{
    margin-bottom: 10%;
}

.card_control{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: 2%;
    row-gap: 6px;
    place-items: center;
}

.no_link{
    text-decoration: none;
    color: black;
}

.title_todolist{
    text-align: center;
    font-weight: bold;
    padding-top: 5%;
}

.name_head{
    padding-top: 2%;
    text-align: center;
}

.name_sub{
    text-align: center;
    padding-top: 1%;
    font-weight: bold;
    font-size: larger;
}

.todolist_header{
    background-color:#25c2a0;
    font-weight: bold;
    padding-top: 3%;
}

.todolist_content{
    background-color: black;
    color: white;
    min-height: 100%;
    padding-bottom: 5%;
}

.footer_content{
    background-color: #303846;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding: 6%;
    height:100%;
}

.example_temp{
    text-align: center;
    margin-bottom: 20%;
}

.background_set{
    background-color: #25c2a0;
    height: 100%;
}

.create{
    text-align: center;
}

.create_content{
    background-color: black;
    color: white;
    padding: 6%;
}

.create_inp_title{
    width:300px; 
    border-radius: 0.375rem; 
    padding: 10px;
}

.create_inp_desc{
    width:300px; 
    border-radius: 0.375rem; 
    padding: 10px;
}

.card_hover:hover{
    background-color: #25c2a0;
}

@media (max-width: 1519px) {
    .card_control{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: 1222px) {
    .card_control{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .todolist_header{
        padding-top: 8%;
        padding-bottom: 8%;
    }

    .footer_content{
        padding-top: 8%;
        padding-bottom: 8%;
    }
}

@media (max-width: 922px) {
    .card_control{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .todolist_header{
        padding-top: 12%;
        padding-bottom: 12%;
    }

    .footer_content{
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

@media (max-width: 720px) {
    .footer_content{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 40px;
    }
}

@media (max-width: 606px) {
    .card_control{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .todolist_content{
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .footer_content{
        padding-top: 15%;
        padding-bottom: 15%;
    }
}

@media (max-width: 500px){
    .todolist_header{
        padding-top: 20%;
        padding-bottom: 20%;
        font-size: xxx-large;
    }
}